<br>
<div class="conversation-wrapper">
<% if @check_user_in_conversation %>

<div class="row">
  
  <% @user = @partner %>
   <div class="col-sm-6">
  <%= render 'users/callout' %>
  </div>
 <div class="col-sm-2">
   <br>
   <h3 class="btn-toolbar ">
   
    


    <%= link_to '<i class="fa fa-chevron-right"></i> Next'.html_safe, {:controller => "songs", :action => "create", :user_id => current_user.id, title: "Next Song", name: @song.name, utubeid: @song.utubeid, length: 100}, method: :post, :class => 'pull-right' %>  &nbsp;
  </h2>
</div>
</div>
<div class="row">
  <div class="col-sm-8">
    <br\>
    <div class="chat-wrapper">
      <div class="messages">
        <%= render Message.last_five(params[:id]) %>
      </div>
    </div>

    <div class="chatbox">
      <% if current_user %>
      <div class="currentuser"><%= current_user.email %></div>
      <%= form_for Message.new, remote: true do |f| %>
      <div class="input-group">
        <%= f.text_field :content, class: 'form-control', autocomplete: "off", 'data-user' => current_user.email %>
        <%= f.hidden_field  :conversation_id, :value => params[:id], class: 'form-control' %>
        <div class="input-group-btn">
          <%= f.submit "Send", class: 'btn btn-secondary' %>
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
    <% end %>  
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div id="current_song" style="display: none"> <%=params[:id] %></div>
      <% @videourl = "http://www.youtube.com/embed/" + @conversation.init_user_song.utubeid + "?autoplay=1&cc_load_policy=1&fs=0&controls=0" %>
      <div class="video-container"><iframe class="ytplayer" id='iframe_video' src= <%= @videourl %> + frameborder="0" allowfullscreen></iframe>

        <script type="text/javascript">
        var secondsCountDown = <%= @song.length%>
        var song_name = "<%= @song.name%>" ;
        var song_id = "<%= @song.utubeid%>";
          display = document.querySelector('#timeleft');
          var converid = $("#current_song").text();
          current_song_time_left = secondsCountDown;
           minutes = ~~(secondsCountDown/60);
            var seconds = secondsCountDown %60;
            if(seconds.length ==1)
            {
              seconds = "0" + seconds;
            }
            if(minutes.length ==1)
            {
              minutes = "0" + minutes;
            }
            var newsong = "<li class='next-song active-song'><div class='next-song-time'> " +minutes + ":" + seconds + "</div><div class='img-active'></div> <div class='next-song-name'>" + song_name + " </div><div class='next-song-id'>"+ song_id + "</div></li>";
            $(newsong).appendTo('.songlist');


          pingsong(secondsCountDown, display, "conversation", converid);
        </script>
      </div>
      <div class="total-timeleft">
      Time left: <span id="timeleft"></span>
      </div> <a id="btn-add-song" type="button" class="text-info pull-right" data-toggle="modal" data-target="#modal_add_song"><i class="fa fa-plus" aria-hidden="true"></i> Song</a>  &nbsp;
    </div>
    <div class="row songlist"></div>
  </div>
</div>
<% else %>
DONT HAVE PERMISSION 
<% end %>
</div>


</body>
</html>

<br>

<!-- Modal -->
<div id="modal_add_song" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          
        <form id="yourForm">
          <div class="input-group">
            <input id="tbsearch" type="text" class="form-control" placeholder="Search song...">
            <span class="input-group-btn">
              <a href="#" onclick="searchsong()" class="btn btn-secondary">Search</a>

            </span>
          </div>
        </form>       

      </div>
      <div class="modal-body modal-add-song">
        <center><img id="loadinggif" style="display:none;" src="http://i.giphy.com/xT1XGVRQp2PLft5uz6.gif"></center>
        <div class="search-result"></div>
        
      </div>
    </div>

  </div>
</div>
<br>
</div>
<script type="text/javascript">
  function searchsong()
  {
    query = $('#tbsearch').val();
    $('.search-result').html("");
    $.post( "/searchsong.json?q=" + query, function( data ) {
      if (data.html != "")
      {

        var user_join =  data.html;

        $('.search-result').html(user_join);


      }
    });
  }
  function add_song_to_list(id)
  {
    var title = $('#' + id).find('.result-title').text()
    var converid = $("#current_song").text();
    $.post( "/add_song_in_conversation.json?id=" + id + "&title=" + title + "&conversationid=" + converid, function( data ) {

      if (data.html != "")
      {
        var minutes = ~~(data.html.length/60).toString();
        var seconds = (data.html.length %60).toString();
        if(seconds.length ==1)
        {
          seconds = "0" + seconds;
        }
        if(minutes.length ==1)
        {
          minutes = "0" + minutes;
        }
        var newsong = "<li class='next-song'><div class='next-song-time'> " +minutes + ":" + seconds + "</div> <div class='next-song-name'>" +  data.html.name + " </div><div class='next-song-id'>"+ data.html.utubeid + "</div></li>";
        var current_time_left = $("#timeleft").text();
        var total_second_left = parseInt(current_time_left.split(':')[0]) *60 + parseInt(current_time_left.split(':')[1]);
        total_second_left = total_second_left + parseInt(data.html.length);
        display = document.querySelector('#timeleft');
        var converid = $("#current_song").text();

        pingsong(total_second_left, display, "conversation", converid);

        $(newsong).appendTo('.songlist');
        $('#' + id).slideUp();
      }
    });


  }
  $('#yourForm').submit(function(event){
    $("#loadinggif").css("display", "block");

  // prevent default browser behaviour
  event.preventDefault();
  searchsong();

  $("#loadinggif").css("display", "none");
});
</script>