<h1>Youtube Search</h1>

  <div class="form-group">
    <%= form_tag nil, method: 'get', class: 'form-inline', style: 'margin-bottom: 20px' do %>
      <%= text_field_tag :q, params[:q], class: 'form-control' %>
      <%= submit_tag "Search", class: 'btn btn-secondary' %>
    <% end %>
  </div>

<div class="col-sm-12">
  <div class="col-sm-8">
    <h1>Chat Room</h1>  
    <div class="chat-wrapper">
      <div class="messages">
        <%= render Message.last_five(params[:id]) %>
      </div>
    </div>

    <div class="chatbox">
      <% if current_user %>
        <div class="currentuser"><%= current_user.email %></div>
          <%= form_for Message.new, remote: true do |f| %>
            <div class="input-group">
              <%= f.text_field :content, class: 'form-control', autocomplete: "off", 'data-user' => current_user.email %>
              <%= f.hidden_field  :conversation_id, :value => params[:id], class: 'form-control' %>
              <div class="input-group-btn">
                <%= f.submit "Send", class: 'btn btn-secondary' %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
      <% end %>  
    </div>


  <div class="col-sm-4">
    <!-- <div class="video-container"><iframe src="http://www.youtube.com/embed/
    oHg5SJYRHA0?autoplay=1&cc_load_policy=1&fs=0" frameborder="0" allowfullscreen></iframe></div>
    -->
    <span id="time"></span> minutes!</div>

    Video Is Supposed To Show Here
    <div id="youtube_video">
      <% if params[:video_id] %>
        <%= render 'video', video_id: params[:video_id] %>
      <% end %>
    </div>
    
    <% if @results.present? %>
      <% @results.each do |result| %>
        <% if result.video? %>
          <%= image_tag result.default_thumbnail_url, width: result.default_thumbnail_url, height: result.default_thumbnail_height %></td>
        <% end %>
        <span class="label label-primary"><%= result.result_type %></span>
          <%= link_to result.title, root_path(q: params[:q], video_id: result.video_id) %>
          <%= result.description %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>