<br>
<% if @check_user_in_conversation %>

<div class="row">
  <div class="profileinfo col-sm-5">
    <div class="profile_picture col-sm-2">
     <%= link_to image_tag('https://graph.facebook.com/' + @partner.uid + '/picture?width=200', class: "card-img-top img-circle profile-image", size: "70", :crop => :fill,class: "img-circle profile-image"), root_path() %> 
   </div>
   <div class="col-sm-10">
     <br>
     <h4> <%= @partner.name %></h4>
   </div>

 </div>
 <div class="col-sm-3">
  <br>
  <%= link_to '<i class="fa fa-times"></i> Exit'.html_safe, root_path, :class =>'btn btn-danger btn-sm pull-right',placeholder: "placeholder text" %>
  <%= link_to '<i class="fa fa-chevron-right"></i> Next'.html_safe, root_path, :class =>'btn btn-success btn-sm pull-right',placeholder: "placeholder text" %>
</div>
</div>
<br>
<div class="col-sm-8">
<%= link_to "test ping song", pingsong_path(), :method=> :post %>
  <br\>
  <div class="chat-wrapper">
    <div class="messages">
      <%= render Message.last_five(params[:id]) %>
    </div>
  </div>

  <div class="chatbox">
    <% if current_user %>
    <div class="currentuser"><%= current_user.email %></div>
    <%= form_for Message.new, remote: true do |f| %>
    <div class="input-group">
      <%= f.text_field :content, class: 'form-control', autocomplete: "off", 'data-user' => current_user.email %>
      <%= f.hidden_field  :conversation_id, :value => params[:id], class: 'form-control' %>
      <div class="input-group-btn">
        <%= f.submit "Send", class: 'btn btn-secondary' %>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <% end %>  
</div>

<div class="col-sm-4">
Time left: <span id="time"></span>
  <% @videourl = "http://www.youtube.com/embed/" + @conversation.init_user_song.utubeid + "?autoplay=1&cc_load_policy=1&fs=0" %>
  <div class="video-container"><iframe src= <%= @videourl %> + frameborder="0" allowfullscreen></iframe></div>
<script type="text/javascript">
  var secondsCountDown = <%= @song.length + 10%>
        display = document.querySelector('#time');
    startTimer(secondsCountDown, display);
</script>
  </div>
  <% else %>
  DONT HAVE PERMISSION 
  <% end %>
</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    
  </body>
</html>

<br>