<% if @user == current_user %>
  <div class="container profile">
    <div class="col-md-8">
      <div class="card">
        <div class="profile-header" style="background:#000 url('<%= @user.cover %>') center center no-repeat; border-radius: 0.24rem;">
          <img src="<%= @user.image %>" alt="<%= @user.to_s %>" class="profile-img">
          <div class="profile-location">
            <small><i class="fa fa-map-marker"></i> <%= @user.location %></small>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title profile-name"><%= @user.to_s %></h4>
        </div>
        <ul id="accordion" class="accordion">
          <li class="<%= "default open" if @section == 'globe' %>">
            <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li>
                <p><i class="fa fa-star"></i><%= @user.bio %></p>
              </li>
              <li>
                <p><i class="fa fa-map-marker"></i><%= @user.location %></p>
              </li>
              <% if @user.languages %>
                <li>
                  <p><i class="fa fa-language"></i><%= @user.languages %></p>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="<%= "default open" if @section == 'picture' %>">
            <div class="link"><i class="fa fa-picture-o"></i>Photos<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li class="profile-photos">
                <% @user.user_pictures.each do |picture| %>
                  <% if picture.empty %>
                    <a href="<%= url_for(edit_user_picture_path(picture)) %>" data-load-remote="<%= url_for(edit_user_picture_path(picture)) %>" data-toggle="modal" class="prof-img-list-frame">
                      <div class="profile-photos-overflow">
                        <i class="fa fa-plus" style="z-index: 1; color: #fff; padding-left: 10px; padding-top: 4px;"></i>
                        <img src="<%= @user.image %>" class="prof-img-list prof-img-list-new">
                      </div>
                    </a>
                  <% else %>
                    <a href="<%= url_for(user_pictures_pick_path(picture, picture.picture_metas['id'])) %>" class="prof-img-list-frame">
                      <div class="profile-photos-overflow">
                        <img src="<%= picture.picture %>" class="prof-img-list">
                      </div>
                    </a>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="<%= "default open" if @section == 'music' %>">
            <div class="link"><i class="fa fa-music"></i>Favorite bands<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <% if @user.fb_music %>
                <% @user.fb_music.each do |music| %>
                  <li>
                      <a><%= music['name'] %></a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="<%= "default open" if @section == 'friends' %>">
            <div class="link"><i class="fa fa-users"></i>Friends<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li class="profile-photos">
                <% if @user.fb_friends %>
                  <% @user.fb_friends.each do |frend| %>
                    <a  class="prof-img-list-frame">
                      <div class="profile-photos-overflow">
                        <img src="<%= frend['picture']['data']['url'] %>" class="prof-img-list">
                      </div>
                    </a>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% else %>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <a href="<%= url_for root_path %>" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">

      <div class="profile-header" style="background:#000 url('<%= @user.cover %>') center center no-repeat; border-radius: 0.24rem;">
        <img src="<%= @user.image %>" alt="<%= @user.to_s %>" class="profile-img">
        <div class="profile-location">
          <small><i class="fa fa-map-marker"></i> <%= @user.location %></small>
        </div>
      </div>
      <div class="card-block">
        <h4 class="card-title profile-name"><%= @user.to_s %></h4>
      </div>
      <ul id="accordion" class="accordion">
        <li class="<%= "default open" if @section == 'globe' %>">
          <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
          <ul class="submenu">
            <li>
              <p><i class="fa fa-star"></i><%= @user.bio %></p>
            </li>
            <li>
              <p><i class="fa fa-map-marker"></i><%= @user.location %></p>
            </li>
            <% if @user.languages %>
              <li>
                <p><i class="fa fa-language"></i><%= @user.languages %></p>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="<%= "default open" if @section == 'picture' %>">
          <div class="link"><i class="fa fa-picture-o"></i>Photos<i class="fa fa-chevron-down"></i></div>
          <ul class="submenu">
            <li class="profile-photos">
              <% @user.user_pictures.each do |picture| %>
                <% if picture.empty %>
                  <a class="prof-img-list-frame">
                    <div class="profile-photos-overflow">
                      <i class="fa fa-plus" style="z-index: 1; color: #fff; padding-left: 10px; padding-top: 4px;"></i>
                      <img src="<%= @user.image %>" class="prof-img-list prof-img-list-new">
                    </div>
                  </a>
                <% else %>
                  <a class="prof-img-list-frame">
                    <div class="profile-photos-overflow">
                      <img src="<%= picture.picture %>" class="prof-img-list">
                    </div>
                  </a>
                <% end %>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="<%= "default open" if @section == 'music' %>">
          <div class="link"><i class="fa fa-music"></i>Favorite bands<i class="fa fa-chevron-down"></i></div>
          <ul class="submenu">
            <% if @user.fb_music %>
              <% @user.fb_music.each do |music| %>
                <li>
                    <a><%= music['name'] %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
<% end %>



