
<div class="container profile">
    <div class="col-md-8">
      <div class="card">
        <div class="profile-header" style="background:#000 url('<%= current_user.cover %>') center center no-repeat;">
          <img src="<%= current_user.image %>" alt="<%= current_user.to_s %>" class="profile-img">
          <div class="profile-location">
            <small><i class="fa fa-map-marker"></i> <%= current_user.location %></small>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title profile-name"><%= current_user.to_s %></h4>
        </div>
        <ul id="accordion" class="accordion">
          <li class="default open">
            <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li>
                <p><i class="fa fa-star"></i><%= current_user.bio %></p>
              </li>
              <li>
                <p><i class="fa fa-map-marker"></i><%= current_user.location %></p>
              </li>
              <li>
                <p><i class="fa fa-language"></i><%= current_user.languages %></p>
              </li>
            </ul>
          </li>
          <li class="default open">
            <div class="link"><i class="fa fa-picture-o"></i>Photos<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li class="profile-photos">
                <a href="#" class="prof-img-list-frame">
                  <div class="profile-photos-overflow">
                    <img src="<%= current_user.image %>" class="prof-img-list">
                  </div>
                </a>
                <a href="<%= url_for(my_profile_choose_pic_path) %>" data-load-remote="<%= url_for(my_profile_choose_pic_path) %>" data-toggle="modal" class="prof-img-list-frame">
                  <div class="profile-photos-overflow">
                    <i class="fa fa-plus" style="z-index: 1; color: #fff; padding-left: 10px; padding-top: 4px;"></i>
                    <img src="<%= current_user.image %>" class="prof-img-list prof-img-list-new">
                  </div>
                </a>
                <% current_user.user_pictures.each do |picture| %>
                  <a href="<%= url_for(edit_user_picture_path(picture)) %>" data-load-remote="<%= url_for(edit_user_picture_path(picture)) %>" data-toggle="modal" class="prof-img-list-frame">
                    <div class="profile-photos-overflow">
                      <i class="fa fa-plus" style="z-index: 1; color: #fff; padding-left: 10px; padding-top: 4px;"></i>
                      <img src="<%= current_user.image %>" class="prof-img-list prof-img-list-new">
                    </div>
                  </a>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <div class="link"><i class="fa fa-music"></i>Favorite bands<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li class="profile-photos">
                <a href="#" class="prof-img-list-frame">
                  <div class="profile-photos-overflow">
                    <img src="<%= current_user.image %>" class="prof-img-list">
                  </div>
                </a>
                <a href="#" class="prof-img-list-frame">
                  <div class="profile-photos-overflow">
                    <img src="<%= current_user.image %>" class="prof-img-list prof-img-list-new">
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <div class="link"><i class="fa fa-users"></i>Friends<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <li>
                  <a>hello bello</a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>


