<div class="jumbotron">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <% if result.video? %>
        <% if result.result_type == "Video" %>
          <div class="row result-card">
            <div class="yt-thumbnail">
             <%=  image_tag result.default_thumbnail_url %>
           </div>
           <div>
             <%= link_to result.title, {:controller => "songs", :action => "create", :user_id => current_user.id, name: result.title, utubeid: result.video_id, length: 100}, method: :post %>
             <br>
             <div class="description">
               <%= result.description %>
             </div>
           </div>
          </div>
        <% end%>
      <% end %>
    <% end %>
  <% else %>
    <h1>Share your mood via music together</h1>
    <p class="full-description">
     
    </p>
    <p>
      <%= form_tag nil, method: 'get', class: 'form-inline', style: 'margin-bottom: 20px' do %>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Type song name...' %>
        <%= submit_tag "Search", class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </p>
  <% end %>
</div>
<script>
    $(function(){
        $(".full-description").typed({
            strings: ["Maybe someone at the very same moment has a same mood and the same track on the player. Why don't you take the opportunity?"],
            typeSpeed: 1,
            loop: true,
             backDelay: 4000,
        });
    });
</script>