<h1>Youtube Search</h1>

  <%= form_tag nil, method: 'get', class: 'form-inline', style: 'margin-bottom: 20px' do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], class: 'form-control' %>
      <%= submit_tag "Search", class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% if !!@song %>
    <div id="youtube_video">
    <h1><%= @song.name %></h1>
      <% @videourl = "http://www.youtube.com/embed/" + @song.utubeid + "?autoplay=1&cc_load_policy=1&fs=1" %>
        <div class="video-container"><iframe src= <%= @videourl %> + frameborder="0" allowfullscreen></iframe>
        </div>

  </div>
  <div id="current_song"> <%=params[:id] %></div>
    <script type="text/javascript">
    var secondsCountDown = <%= @song.length + 10%>
    display = "";
    var songid = $("#current_song").text();
    pingsong(secondsCountDown, display, "song", songid);
  </script>

<% else %>
Don't have permission
<% end %>

<!-- Modal -->
  <div class="modal fade" id="conversation-modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New conversation</h4>
        </div>
        <div class="modal-body">
          <p>Go to conversation?</p>
        </div>
        <div class="modal-footer">
        <a class="btn btn-default" href="#" id="go_conversation">Yes</a>
      
        </div>
      </div>
      
    </div>
  </div>