<!DOCTYPE html>
<html>
<head>
  <title>One song one chance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-faded">
      <%= link_to "Home", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="nav-item pull-xs-right">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.to_s %>
              </button>
              <div class="dropdown-menu">
                <%= link_to my_profile_path(section: 'globe'), class: 'dropdown-item' do %>
                  <i class="fa fa-user"></i> My Profile
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to my_profile_path(section: 'picture'), class: 'dropdown-item' do %>
                  <i class="fa fa-picture-o"></i> Photos
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to logout_path, data: { confirm: 'Are you sure?' }, method: 'delete', class: 'dropdown-item' do %>
                  <i class="fa fa-power-off"></i> Log out
                <% end %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item pull-xs-right">
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="alert <%= flash_class_name(key) %>">
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </div>
</body>
</html>
