<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="alert <%= flash_class_name(key) %>">
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
