<!DOCTYPE html>
<html>
<head>
  <title>One song one chance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <video autoplay  poster="/polina.jpg" id="bgvid" loop>
    <% if request.env['PATH_INFO'] == '/' %>
      <!-- <source src="/polina.webm" type="video/webm"> -->
    <% end %>
  </video>
  <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "One Song One Chance", root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <%= form_tag results_path, method: 'get', class: 'navbar-form navbar-left', role: 'search' do %>
            <div class="form-group">
              <%= text_field_tag :q, params[:q], class: 'form-control' %>
            </div>
            <%= submit_tag "Search", class: 'btn btn-default' %>
          <% end %>
          <ul class="nav navbar-nav">
            <li class="dropdown pull-xs-right" style="min-width: 158px;">
              <a class="dropdown-toggle" data-toggle="dropdown" style="text-align: center;">
                <%= current_user.to_s %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><%= link_to my_profile_path(section: 'globe') do %>
                  <i class="fa fa-user"></i> My Profile
                <% end %></li>
                <li class="divider"></li>
                <li><%= link_to my_profile_path(section: 'picture') do %>
                  <i class="fa fa-picture-o"></i> Photos
                <% end %></li>
                <li class="divider"></li>
                <li><%= link_to logout_path, data: { confirm: 'Are you sure?' }, method: 'delete' do %>
                  <i class="fa fa-power-off"></i> Log out
                <% end %></li>
              </ul>
            </li>
            <li class="pull-xs-right">
              <a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% if flash.any? %>
    <% flash.each do |key, value| %>
    
    <% end %>
    <% end %>
    <div class="container" style="padding: 0px 0px 20px">
      <%= yield %>
    </div>
  </div>
  <% else %>
  <video autoplay  poster="/polina.jpg" id="bgvid" loop>
    <source src="/polina.webm" type="video/webm">
  </video>
  <div class="container">
    <div class="jumbotron">
      <h1 style="font-weight: bold;">One Song One Chance </h1>
      <p>
        Share your mood and listen your favorite clips. Maybe someone at the very same moment has a same mood and the same track on the player. Why don't you take the opportunity?
      </p>
      <p>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
  <% end %>
</body>
</html>
